.op-popper {
    position: fixed;
    bottom: 10px;
    left: 30px;
    width: 30vw;
    height: 15vh;
    background-color: rgba(49,201,213, 0.9);
    z-index: 10;
    padding: 0 10px;
    color: #fff;
    box-shadow: 5px 5px 10px #777;
    transition: all 1s ease-in-out;
}

.op-popper .op-content-container {
    display: flex;
    align-items: stretch;
    height: 100%;
}

.op-popper .op-content-container .op-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.op-popper .op-content-container .op-image > img {
    max-width: 100px !important;
    height: auto;
    width: 100px !important;
    border-radius: 50%;
}

.op-popper .op-content {
    display: flex;
    flex-direction: column;
    padding: 2vh 2vw;
    flex: 1 1 auto;
    font-size: 16px;
    justify-content: center;
}

.op-popper .op-content p {
    padding: 0 0 10px 0;
    line-height: 1.2em;
}

.op-popper p, .op-popper a {
    color: #fff;
}

.op-popper button.close {
    position: absolute;
    right: 10px;
    top: -10px;
    color: #fff;
    border-width: 0;
}

.op-popper button.close:hover {
    border-width: 0;
}

.op-popper button.close:hover span,
.op-popper button.close span {
    font-size: 26px;
}

.wp-admin .op-popper {
    display: none;
}