.op-popper {
    position: fixed;
    bottom: 10px;
    left: 30px;
    width: 30vw;
    height: 15vh;
    background-color: rgba(49,201,213, 0.9);
    border-radius: 1vw;
    z-index: 10;
    padding: 2vh 2vw;
    color: #fff;
    border: 5px solid rgb(49,201,213);
}

.op-popper p, .op-popper a {
    color: #fff;
}

.wp-admin .op-popper {
    display: none;
}