@import "mixins";

.op-popper {
    position: fixed;
    bottom: 10px;
    left: 15px;
    height: 15vh;
    width: 500px;
    z-index: 999;
    color: #fff;
    box-shadow: 5px 5px 10px #777;
    transition: all 1s ease-in-out;
    font-size: 16px;
    line-height: 16px;
    border: 1px solid #aba9a9; 
    border-radius: 10px;

    @include media-breakpoint-down(lg) {
        width: 500px;
    }

    @include media-breakpoint-down(md) {
        width: 500px;
    }

    @include media-breakpoint-down(sm) {
        width: 400px;
        left: 10px;
        right: 10px;
        font-size: 0.8rem;
        padding: 0 0 0 5px;
    }

    .op-content-container {
        display: flex;
        align-items: stretch;
        height: 100%;
        padding: 1vh 1vw;
        position: relative;

        @include media-breakpoint-down(md) {
            padding: 2vh 2vw;
        }

        button.close {        
            position: absolute;
            top: 0; 
            right: 20px;
            font-size: 2rem;
            color: #5D1FF0;
            border-width: 0;
            z-index: 1;

            &:hover {
                border-width: 0;

                span {
                    font-size: 2rem;
                }
            }

            span {
                font-size: 2rem;
            }
        }

        .op-content-wrapper {
            display: flex;
            width: 100%;
            padding: 0;
            margin: 0;
            opacity: 1;
            transition: opacity 0.5s ease-in-out;

            &.refreshing {
                opacity: 0;
            }

            .op-content {
                display: flex;
                flex-direction: column;
                padding: 1vw 0 1vw;
                flex: 1 1 auto;
                justify-content: center;
                font-kerning: auto;
                width: 400px;
            
                @include media-breakpoint-down(sm) {
                    width: 300px;
                }
            
                p {
                    padding: 0;
                    line-height: 1.2em;
                    font-kerning: auto;
                }

                p, a {
                    color: #fff;
                    font-size: 1rem;
                }
        
                .meta {
                    font-size: 12px;
                    font-kerning: auto;
                    padding: 0 0 5px 0;

                    a {
                        font-size: 13px; 
                        text-decoration: underline;
                    }
                }

                p.customer-details {
                    font-size: 15px;
                    width: 400px;
                
                    @include media-breakpoint-down(sm) {
                        width: 300px;
                    }
                }
            
                .product-name {
                    width: 400px;
                
                    @include media-breakpoint-down(sm) {
                        width: 300px;
                    }
                        
                    a {
                        color: #5D1FF0 !important; 
                        font-weight: 600; 
                        font-size: 18px;
                        font-kerning: auto;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        text-decoration: none;    
                        display: block; 
                        padding: 5px 0;
        
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        
            .op-image {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 0 0 5px;
                position: relative;
                max-width: 100px !important;
                width: 100px;

                @include media-breakpoint-down(sm) {
                    max-width: 70px !important;
                    width: 70px;
                }

                > img {
                    max-width: 100% !important;
                    height: auto;
                    position: relative;
                    max-height: 80%;
                }
            }
        }
    }
}

.wp-admin,
.login.login-action-login {
    .op-popper {
        display: none;
    }
}

@media only screen and (max-width: 595px) {
    // .op-popper .product-name { width: 300px; }
    // .op-popper .op-image img { width: 80px; }
}

/* Breakpoints */
// @include media-breakpoint-down(lg) { body { background-color: orange !important; } }
// @include media-breakpoint-down(md) { body { background-color: pink !important; } }
// @include media-breakpoint-down(sm) { body { background-color: blue !important; } }
// @include media-breakpoint-down(xs) { body { background-color: green !important; } }